.logo {
  height: 50px;
}

.block-header {
  display: flex;
  justify-content: space-between;
}

.block-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex: 0 1 24%;
  margin: 0 0.25% 0.25%;
  min-height: 80px;
}

.block-footer {
  text-align: center;
}
